
{% extends 'html/base.html' %}
{% block content %}
{% load staticfiles %}

  <div class="container" >
    <div class="box">
      <div id="top-center">
        <h2 >Log In</h2> 
      </div>
      <div id="Login-Box">
        <form id="login">
          <label for="username">Username</label>
          <br/>
           <span class="glyphicon glyphicon-user"></span>
          <input type="text" id="username">
          <br/>
          <label for="password">Password</label>
          <br/>
           <span class="glyphicon glyphicon-lock"></span>
          <input type="password" id="password" >
          <br/>
          <button type="submit" onclick="check(this.form)" class="btn btn-success">Sign In</button>
          <br/>
          <input type="checkbox" >
          <label class="check" >Keep me logged in</label>
          <a href="#"><p class="small">Forgot your password?</p></a>
        </form>
      </div>
    </div>
  </div>
  {% endblock %}