body{

   background-color:  rgb(212,234,226);
    background-size: cover;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    font-style: normal;
    margin: 0;

}

.box {
    
    max-width: 340px;
    margin: 40px auto;
    position: relative;
    top: 80px;
    padding-bottom: 30px;
    background-color: white;
    text-align: center;
    box-shadow: 0 5px 50px rgba(0,0,0,0.4);
   
}


#top-center {

    font-family: 'Spectral';
    font-weight: 300;
    text-align: center;
    background-color: rgb(43,116,164);
    margin:auto;
    text-transform: uppercase;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    color : white;
    
}

a {
    text-decoration: none;
    color: #26628A;
}

a:hover {
    color: #aeaeae;
}

#Login-Box {
    background-color: white;
    padding: 1px;
     margin-top: 10px;
     font-weight: 100;
     font-size: 16px;

}

#Login-Box label {

    padding: 1px;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 2em;
}

.check {

    font-weight: normal;
    font-size: 10px;

}

#Login-Box input {

    margin-bottom: 20px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-size: .9em;
    width: auto;

}

#Login-Box button {

    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor:pointer;
    outline: thin;
}


